## [**About Dataset - Kaggle**](https://www.kaggle.com/datasets/malharkhatu/airline-passenger-reviews/datat)

### Context

This dataset is created to practice various text classification techniques.

The text data is collected using praw API from reddit.com.

### Mais sobre esses dados

No conjunto de dados, comentários na internet foram separados de acordo com o local onde estes foram postados. <br>
Os comentários foram separados em três categorias:

- **Física**
- **Quimica**
- **Biologia**

<br> 

**Como você está em um grupo com no máximo 3 alunos, deverá escolher apenas DUAS dessas três categorias.**

In [1]:
import pandas as pd
import random
import os
from sklearn.model_selection import train_test_split

In [2]:
# Transforma string em inteiro
def nome_para_inteiro(nome):
    nome = nome.upper()  # Converter para maiúsculas para tratar maiúsculas e minúsculas da mesma forma
    valor_inteiro = 0
    
    for letra in nome:
        # Verificar se a letra está no alfabeto (A a Z)
        if 'A' <= letra <= 'Z':
            valor_inteiro += ord(letra) - ord('A') + 1  # Valor de 'A' é 1, 'B' é 2, ..., 'Z' é 26
    
    return valor_inteiro

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'Cria base de dados Treino e Teste - TRIO.ipynb',
 'disciplines.csv']

In [4]:
# Ler o arquivo de dados 
dados = pd.read_csv('disciplines.csv', encoding='utf-8-sig')
nomes_colunas = ['Comment','Topic']
dados = dados[['Comment','Topic']]
dados.head()

                                             Comment      Topic
0  A few things. You might have negative- frequen...    Biology
1  Is it so hard to believe that there exist part...    Physics
2                                     There are bees    Biology
3  I'm a medication technician. And that's alot o...    Biology
4                     Cesium is such a pretty metal.  Chemistry

In [5]:
print('Escolha DUAS categorias diferentes digitando um número de 1 a 3, sendo \n',
      '1: "Biology"; \n',
      '2: "Chemistry" \n',
      '3: "Physics"')
cat1 = input("Digite primeira categoria escolhida: ")
cat2 = input("Digite segunda  categoria escolhida: ")

Escolha DUAS categorias diferentes digitando um número de 1 a 3, sendo
 1: "Biology";
 2: "Chemistry"
 3: "Physics"
Digite primeira categoria escolhida: Chemistry
Digite segunda  categoria escolhida: Physics

In [6]:
nome = input("Digite seu username: ")
valor_inteiro = nome_para_inteiro(nome)

Digite seu username: joaolbsl

In [7]:
# Filtrar dados de acordo com as escolhas das categorias
cats = [cat1, cat2]
if '1' in cats and '2' in cats:
    dados = dados.loc[ (dados.Topic == "Biology") | (dados.Topic == 'Chemistry')].copy()
if '1' in cats and '3' in cats:
    dados = dados.loc[ (dados.Topic == "Biology") | (dados.Topic == 'Physics')].copy()
if '2' in cats and '3' in cats:
    dados = dados.loc[ (dados.Topic == "Chemistry") | (dados.Topic == 'Physics')].copy()
    
dados.shape

(10281, 2)

In [8]:
dados

                                                 Comment      Topic
0      A few things. You might have negative- frequen...    Biology
1      Is it so hard to believe that there exist part...    Physics
2                                         There are bees    Biology
3      I'm a medication technician. And that's alot o...    Biology
4                         Cesium is such a pretty metal.  Chemistry
...                                                  ...        ...
10276  I’m not really denying your intent. I’m a) dou...  Chemistry
10277  i really empathize with your compassion for bu...    Biology
10278  If you want to keep it for more than 2 weeks, ...  Chemistry
10279  Same here. I’m in nursing school so I only hav...    Biology
10280  The video basically says read a pop-sci book a...    Physics

[10281 rows x 2 columns]

In [9]:
# Embaralhar as linhas do conjunto de dados
dados_embaralhados = dados.sample(frac=5000/dados.shape[0], random_state=valor_inteiro)
dados_embaralhados.columns

Index(['Comment', 'Topic'], dtype='object')

In [10]:
# Separar os dados de treino e teste 
X = dados_embaralhados.Comment
y = dados_embaralhados.Topic
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=valor_inteiro)

dados_treino = pd.concat([X_train, y_train],axis=1)
dados_treino.columns = nomes_colunas
dados_teste = pd.concat([X_test, y_test],axis=1)
dados_teste.columns = nomes_colunas

In [11]:
print(dados_treino.Topic.value_counts(True))
print(dados_teste.Topic.value_counts(True))

Biology      0.402000
Chemistry    0.338857
Physics      0.259143
Name: Topic, dtype: float64
Biology      0.409333
Chemistry    0.344667
Physics      0.246000
Name: Topic, dtype: float64

In [12]:
# Salvar os dados de treino e teste em arquivos CSV
nome_arquivo_treino = 'dados_treino_TRIO_'+nome+'.csv'
nome_arquivo_teste = 'dados_teste_TRIO_'+nome+'.csv'

dados_treino.to_csv(nome_arquivo_treino,index = False, header=True)
dados_teste.to_csv(nome_arquivo_teste, index=False)#, engine='xlsxwriter')

print(f"Dados de treino e teste foram salvos em '{nome_arquivo_treino}' e '{nome_arquivo_teste}'.")

Dados de treino e teste foram salvos em 'dados_treino_TRIO_joaolbsl.csv' e 'dados_teste_TRIO_joaolbsl.csv'.

In [13]:
# COMANDO QUE DEVE COLOCAR NO TEMPLATE Projeto1_Template.ipynb para LER a base de dados TREINO
# Faça adaptações digitando o nome (username) considerado
pd.read_csv('dados_treino_TRIO_'+nome+'.csv')

                                                Comment      Topic
0                                                   Tom  Chemistry
1     They were stuck biting the wood frog's mouth, ...    Biology
2                                        Food colouring  Chemistry
3              You know they could be poisonous, right?    Biology
4     From my experience, high school chem is nothin...  Chemistry
...                                                 ...        ...
3495                         Hmm yes, just as I thought    Physics
3496  "but what if like, everything is like, connect...    Physics
3497  Mr. P is pretty great - his videos are a bit m...    Physics
3498                                 Natural selection.    Biology
3499  You could always just start where your interes...  Chemistry

[3500 rows x 2 columns]

In [14]:
# COMANDO QUE DEVE COLOCAR NO TEMPLATE Projeto1_Template.ipynb para LER a base de dados TESTE
# Faça adaptações digitando o nome (username) considerado
pd.read_csv('dados_teste_TRIO_'+nome+'.csv')

                                                Comment      Topic
0     1)  You’d also need remnants of the integrase ...    Biology
1     Yeah, I'm not sure why it's always black cats ...    Biology
2             Is there a charge if it’s a neutral atom?  Chemistry
3     False alarm... I think the thermometer is actu...  Chemistry
4                                        About right 😂.  Chemistry
...                                                 ...        ...
1495      How much do you know about quantum mechanics?  Chemistry
1496  Just get some MiO packets or something and mix...    Biology
1497                     Just curious about the process  Chemistry
1498  Even more divergent. This measurement is about...    Physics
1499                                          Thank you  Chemistry

[1500 rows x 2 columns]